body {
  
    background-color: white;
    
    
  }

  body.dark-mode {
    background-color: black;
  }

  .loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @font-face {
    font-family: 'Monseratt';
    src: url('Montserrat-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Playfair';
    src: url('PlayfairDisplay-Regular.ttf') format('truetype');

  }
  .logo{
    width: 55px;
    height: auto;
   
    
  }
  
  .navbar {
    display: flex;
    background-color: black;
    overflow: hidden;
    
  }
  
  .navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: rgb(223, 196, 75);
    color: black;
  }
  
  .navbar a.current {
    background-color: rgb(223, 196, 75);
    color: black;
  }
  

  @media screen and (max-width: 600px) {
    .navbar a  .navbar input[type=text] {
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
  }
  
  
  #flex-container {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 196, 75);
    
  }

.allagents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  
  .singleagent {
    width: 300px;
    margin-bottom: 20px;
    border: 0.5px solid black;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    background-color:  white ;
  }

  .singleagent.dark-mode {
    width: 300px;
    margin-bottom: 20px;
    border: 0.5px solid rgb(223, 196, 75);
    box-shadow: 1px 10px 15px rgb(223, 196, 75);
    border-radius: 5px;
    overflow: hidden;
    background-color: black ;
  }
  
  
  .singleagent img {
    width: 100%;
    height: auto;
  }
  
  .details {
    font-family: 'Monseratt' , 'serif';
    padding: 10px;

  }

  .details.dark-mode {
    font-family: 'Monseratt' , 'serif';
    padding: 10px;
    color: white;
  }
  
  .details h2 {
    font-family: 'Playfair' , 'serif';
    color: #333;
  }

  .details.dark-mode h2 {
    font-family: 'Playfair' , 'serif';
    color: rgb(223, 196, 75);
  }

  .loader {
    display: block;
    height: 500px;
    width:500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }

  button {
    padding: 8.5px;
    margin: 2px;
    background-color:black ;
    border-color: rgb(223, 196, 75);
    color: white;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
  
  }
